// Reset Css
@import url("../../../node_modules/vuetify/src/styles/generic/_reset.scss");

// 한글 font
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
  font-family: 'NotoSansKR';
  src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap') format("woff");
  font-style: normal;
}

@font-face {
  font-family: "NotoSansKR";
  src: url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap') format("woff");
  unicode-range: U+0041-005A, U+0061-007A;
  font-style: normal;
}

html {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}
body { 
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  // overflow-y: hidden;
  overflow-y: hidden;
  font-family: "NotoSansKR", sans-serif;

}

// scroll bar settings
html::-webkit-scrollbar {
  display: none; // fix!
}

body::-webkit-scrollbar { 
  display: none !important;
}

body ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  height: 10px;
}
body ::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 0;
  background: rgba(0,0,0,.4);
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}
body ::-webkit-scrollbar-track {
  background: rgba(0,0,0,.1);
  border-radius: 0;
}
// // scroll bar settings
// ::-webkit-scrollbar {
//   width: 14px;
// }

// ::-webkit-scrollbar-track {
//   box-shadow: inset 0 0 14px 14px transparent;
//   border: solid 4px transparent;
// }

// ::-webkit-scrollbar-thumb {
//   box-shadow: inset 0 0 14px 14px #a0a0a0;
//   border: solid 4px transparent;
//   border-radius: 14px;
// }

// /* set button(top and bottom of the scrollbar) */
// ::-webkit-scrollbar-button {
//   display: none;
// }

* {
  word-break: keep-all;
}


.ff_m {
  font-family: 'Montserrat', sans-serif;
}

.thumbnail {
  height: 350px;

  .pageHeadings {
    float: right;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 100px;
    margin-bottom: 50px;
    .pageTitle {
      font-size: 3rem;
      font-weight: 600;
    }
    .pageSub {
      font-size: 1.2rem;
      font-weight: 400;
      text-align: right;
    }
  }
}

// .col {
//   padding: 0 !important
// }

.page_container {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 64px);
  // padding-bottom: 120px;
  // padding: 3rem 1rem;
  // width: calc(100vw - 180px);
  // margin: 50px 0;


  .page_heading {
    text-align: center;
    font-size: 2.5rem !important;
  }

  .content_container {
    font-size: 1.15rem;
    // padding: 0 15%;
    // margin-top: 50px;
    margin: 120px 0;

    &:last-child {
      margin-bottom: 120px;
    }

    .title_board {
      margin-bottom: 120px;

      .p_title {
        font-size: 40px;
        font-weight: 600;
        position: relative;
        padding-bottom: 20px;
        // padding-left: 15px;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 120px;
          height: 4px;
          background: orange;
        }
      }
    }

    .text_board {
      // background-color: #e9e9e9;
      // padding: 30px 0;
      &:first-child {
        padding-top: 16px;
      }

      .board {
        .heading {
          font-size: 1.5rem;
          font-weight: 600;
        }

        .content {
          font-size: 1.25rem;
        }
      }
    }

    .board {
      width: 100%;
      margin: 120px 0 0;
      padding: 0 15%;

      .heading {
        font-size: 1.5rem;
        font-weight: 600;
      }

      .content {
        font-size: 1.25rem;
      }
    }

    .img_board {
      width: 100%;
      height: 500px;

      .img_container {
        width: 70%;
      }
      .img_content {
        width: 30%;
      }

    }

    .sub_heading {
      margin: 50px 10%;
    }

    .p_container {
      margin: 30px 0;
    }
  }

  .scrollspy {
    position: absolute;
    // top: 67px;
    top: 115px;
    right: 14px;
    width: 180px;

    .v-list-item {
      min-height: 36px !important;
      // border-left: 2px solid gray;
    }

    .scrollactive-item {
      width: 100%;
      color: #757575;
      // border-left: 2px solid gray;

      &.active {
        // color: #E53935;
        color: #e0002a;
        font-weight: 500;
        // border-left: 2px solid orange;
      }
    }
  }
}

.scroll_up_btn {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

// 모바일
@media (max-width: 600px) {
  .pc_only {
    display: none !important;
  }

  .thumbnail {
    height: 300px !important;
    .pageHeadings {
      margin-right: 25px !important;
      margin-bottom: 25px !important;

      .pageTitle {
        font-size: 2.5rem !important;
      }
    }
  }

  .page_container {
    .content_container {
      margin: 60px 0 !important;

      .title_board {
        margin-bottom: 60px !important;
        .p_title {
          font-size: 28px;
        }
      }

      .board {
        padding: 0 7.5% !important;
        margin-top: 60px !important;
      }
    }
  }
}

// 태블릿 & 랩탑
@media (min-width: 601px) and (max-width: 1279px) {
  .pc_only {
    display: block;
  }
}

// 데스크탑 & 모니터
@media (min-width: 1280px) {  
  .pc_only {
    display: block;
  }
  .page_container {
    width: 100%;
  }
}

