// Reset Css
@import url("../../../node_modules/vuetify/src/styles/generic/_reset.scss");

// 한글 font
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

html {
  overflow-y: auto;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  // overflow-y: hidden;
  overflow-y: auto;
}

// scroll bar settings

html::-webkit-scrollbar {
  display: none; // fix!
}

body::-webkit-scrollbar {
  display: none;
}

.thumbnail {
  height: 300px;

  .pageTitle {
    font-size: 2.5rem;
    float: right;
    padding: 40px;
  }
}

.page_container {
  height: 100%;
  min-height: calc(100vh - 64px);
  padding: 3rem 1rem;
  width: calc(100vw - 180px);
  // margin: 50px 0;


  .page_heading {
    text-align: center;
    font-size: 2.5rem !important;
  }

  .content_container {
    font-size: 1.15rem;
    padding: 0 6%;
    margin-top: 50px;

    .sub_heading {
      margin: 50px 10%;
    }
  }

  .scrollspy {
    position: absolute;
    // top: 67px;
    top: 115px;
    right: 14px;
    width: 180px;

    .v-list-item {
      min-height: 36px !important;
      // border-left: 2px solid gray;
    }

    .scrollactive-item {
      width: 100%;
      color: #757575;
      // border-left: 2px solid gray;

      &.active {
        // color: #E53935;
        color: #e0002a;
        font-weight: 500;
        // border-left: 2px solid orange;
      }
    }
  }
}

.scroll_up_btn {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

@media (max-width: 960px) {
  .page_container {
    width: 100%;
  }
}
